.audioName {float:left;margin-left:4px;width:20%;text-align:right;}
.audioTime {float:left;margin-left:4px;width:10%;text-align:right;}
.audioCtrl {float:left;margin-left:4px;width:30%;height:36px;}
.audioVol {float:left;margin-left:4px;width:10%;text-align:right;}
